# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Vite
.vite/

# Artifacts (generated predictions)
artifacts/
artifacts_alone/

# OS
.DS_Store
Thumbs.db

# Data indicators (generated)
data/indicators/**/*.csv

pipeline/darts
pipeline/wangchanberta_cls
pipeline/feature_selection.py

models/
data/

darts_explore.ipynb
THSarabun Bold.ttf
THSarabun.ttf

package-lock.json
package.json

# temp ignore
anydesk/
artifacts_arimax_predict/
artifacts_backtest/
artifacts_backtest_allpoints/
artifacts_backtest_allpoints1/
artifacts_emb_absa/
artifacts_predict/
filter_pca1.csv
mean_emb/
models_emb_absa_l22_h3_true/
models_emb_absa_l22_h4_true/
models_emb_absa_l22_h5_true/
models_emb_absa_l22_h6_true/
pipeline/backtest_allpoints.py
pipeline/backtest_v2.py
pipeline/consistency_check.py
pipeline/embeddings/
pipeline/news_prep/2_relevance_filter/
pipeline/predict.py
results/
results_backtest/
results_backtest_allpoints/
results_feature_comparison.csv

artifacts_backtest-test/
recalculated_metrics_summary.csv
results_table.tex
pipeline/backtest_noval.py
pipeline/backtest_val.py

.gridsearch_cache_backtest/
artifacts_backtest_arimax/
mapetable.tex
predict_outputs/
predict_outputs_h3/
recal.csv
recal_v2.csv
recal_v3.csv
sd_summary.csv
sd_summary_v2.csv
sd_table.tex
sd_table_WOMEAN.tex